<element name="app-button">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-button.css"></link>
    <style type="text/css">
    </style>
    <div>
      <button class="button">Default</button>
    </div>
  </div>
  </template>
  <description>
    When clicked I broadcast a "clicked" message.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var button = this.querySelector('.button')
        var t = this;
        button.onclick = function (e) {
          t.broadcast('clicked');
        }
      },
      editable: {
        "buttontext": {
          title: "Button Label",
          type: "text",
          description: "A text for your label to show up in your app",
          postset: function(v) {
            this.setLabel(v);
          }
        }
      },
      listeners: {
        setLabel: function (val) {
          this.querySelector('button').innerHTML = val;
        }
      },
      broadcast: function (e) {
        this.emit(e)

      }
    });
  </script>
</element>
