<element name="app-button">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-button.css"></link>
    <style type="text/css">
    </style>
    <div>
      <button class="button">Default</button>
    </div>
  </template>
  <description>
    When clicked broadcasts a "click" message
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var button = this.querySelector('div')
        var t = this;
        button.onclick = function (e) {
          t.sendClick('Click');
        }
        this.setAttribute('buttontext', 'Click Me');
      },
      editable: {
        "buttontext": {
          title: "Button Label",
          type: "text",
          description: "A text for your label to show up in your app",
          postset: function(v) {
            this.setLabel(v);
          }
        }
      },
      setLabel: function (val) {
        this.querySelector('button').innerHTML = val;
      },
      broadcast: [ "sendClick" ],
      defaultBroadcast: "sendClick"
    });
  </script>
</element>
