<element name="app-chat-window">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-chat-window.css">
    <header class="fixed">
      <h1>Chat Room<span class="room-name-wrapper">Room: <span class="room-name"></span></span></h1>
      <h3>Status: <span class="status">Disconnected</span></h3>
      <h3>Nickname: <span class="nick-name"></span></h3>
    </header>
      <ul></ul>
  </template>
  <tags>chat,social</tags>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-chat-window.png" />
  </thumbnail>
  <description>
    Start your own chat room.
  </description>
  <script type="text/ceci">
    var element = this;
    require(['https://cdn.firebase.com/v0/firebase.js'], function() {
      Ceci(element, {
        init: function (params) {

          var _this = this;
          this.appId = params.appId;

          _this._settings = {
            nick: _this.hasAttribute('nickname') ? _this.getAttribute('nickname') : 'Anonyfox' + Math.round(Math.random()*999),
            room: _this.hasAttribute('room') ? _this.getAttribute('room') : 'Mozilla'
          };

          _this._list = this.querySelector('ul');
          _this._roomLabel = this.querySelector('.room-name');
          _this._nickLabel = this.querySelector('.nick-name');
          _this._statusLabel = this.querySelector('.status');

          var addItem = function (item, id) {
            var li = document.createElement('li');
            li.innerHTML = item.title;
            if (id) {
              li.setAttribute('id', "chat-snap-" + id);
            }

            _this._list.appendChild(li);
            _this._list.scrollTop = _this._list.scrollHeight - _this._list.clientHeight;
          };

          _this._roomLabel.innerHTML = _this._settings.room;
          _this._nickLabel.innerHTML = _this._settings.nick;

          function onConnectionInfo (snap) {
            _this._statusLabel.innerHTML = snap.val() === true ? 'Connected' : 'Disconnected';
          }

          _this._connect = function () {
            if (_this._io) {
              Object.keys(_handlers).forEach(function (h) {_this._io.off(h, _handlers[h])});
              _this._ioConnected.off('value', onConnectionInfo);
            }
            _this._io = new Firebase("https://appmaker.firebaseio.com/" + _this.appId + '/chat-window/' + _this._settings.room);
            _this._ioConnected = new Firebase("https://appmaker.firebaseio.com/.info/connected");

            var handlers = {
              'child_added': function (snap) {
                window.snap = snap;
                addItem(snap.val(), snap.name().substr(1));
              },
              'child_removed': function (snap) {
                console.log('child_removed');
                // Remove the generated element from the dom if it exists
                var li = document.getElementById("chat-snap-" + snap.name().substr(1));
                if (li) {
                  li.remove();
                }
              }
            };

            Object.keys(handlers).forEach(function (name) {
              _this._io.limit(20).on(name, handlers[name])
            });

            _this._ioConnected.on('value', onConnectionInfo);
          };

          _this.setAttribute('nickname', _this._settings.nick);
          _this.setAttribute('room', _this._settings.room);

          _this._connect();
        },
        sortByCreatedAt: function(a, b) {
          return a.createdAt > b.createdAt;
        },
        defaultListener: 'sendMessage',
        listeners: {
          'setNickname': function (v, channel) {
            this.log("sets nickname to: " + v.toString(), channel);
            var oldNick = this._settings.nick;
            if (oldNick === v.toString()) return;
            this._settings.nick = v.toString();
            this._nickLabel.innerHTML = this._settings.nick;
            this._io.push({title: oldNick + ' is now known as ' + this._settings.nick });
          },
          'setRoom': function (v, channel) {
            this.log("sets room to: " + v.toString(), channel);
            if (this._settings.room === v.toString()) return;
            this._settings.room = v.toString();
            this._roomLabel.innerHTML = this._settings.room;
            this._list.innerHTML = '';
            this._connect();
          },
          'sendMessage': function (v, channel) {
            this.log("sends message: " + v.toString(), channel);
            this._io.push({title: this._settings.nick + ': ' + v.toString()});
          },
          'clear': function (v, channel) {
            this._io.remove();
            this.log("clears the room", channel);
            this._list.innerHTML = '';
          }
        },
        editable: {
          nickname: {
            type: 'text',
            description: 'A nickname for your chatting persona',
            postset: function (v) {
              this['setNickname'](v);
            }
          },
          room: {
            type: 'text',
            description: 'The chat room you want to be in',
            postset: function (v) {
              this['setRoom'](v);
            }
          }
        }
      });

      callback();
    });
  </script>
</element>
