<element name="app-component-template">
  <!-- Put all of your component HTML into the 'template' tag -->
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-component-template.css"></link>
    <h1>Component Template</h1>
    <h2>Latest action</h2>
    <p>I'm a component template!</p>
  </template>
  <!-- Friends are are components that work well together with this one. -->
  <friends>app-fireworks,app-counter</friends>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-component-template.png" />
  </thumbnail>
  <description>
    A component template to get you started remixing your own components.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      // 'init' is fired when a component first loads on the page.
      init: function (params) {
        this.textDisplay = this.querySelector("p");

        // User-configurable Properties
        // A component's user-configurable properties are stored as attributes.
        // Here they are set to a remembered value, or to a default starting.
        // The attribute name must match the name of the editable property in the 'editables' section.
        this.setAttribute("numberProperty", this.getAttribute("numberProperty") || 10);
        this.setAttribute("textProperty", this.getAttribute("textProperty") || "Default Text");
        this.setAttribute("checkboxProperty", this.getAttribute("checkboxProperty") || false);
        this.setAttribute("selectProperty", this.getAttribute("selectProperty") || "Option 2");

        this.onclick = function () {
          this.broadcastMessage("Click");
        };
      },
      broadcastMessage : function(val) {
        // To broadcast a message, use the 'broadcast' function.
        // The first argument is the name of the broadcast channel - it has to match one of the 
        // broadcast channels specified below.
        // The second argument is the value that is sent in the broadcast, which wil be visible in the
        // broadcast bubble and received by other components.
        this.broadcast("sendText", val);
        this.textDisplay.innerHTML = "Broadcast message \"" + val + "\".";
      },
      updateProperty : function (val) {
        this.textDisplay.innerHTML = "Property changed to: " + val;
      },
      updateText : function(value,channel){
        this.textDisplay.innerHTML = "\"" +value + "\" received on channel " + channel + ".";
      },
      editable: {
        // Editables are the user-configurable properties of your component.
        // The configuration UI for each property will appear in the right-hand column when a component is selected.
        // The 'postset' function is triggered anytime that property is changed.
        numberProperty: {
          type: "number",
          min: 0,
          max: 100,
          description: "Describe the property that is changing.",
          postset: function(val) {
            this.updateProperty(val);
          }
        },
        textProperty: {
          type: "text",
          description: "Describe the property that is changing.",
          postset: function(val) {
            this.updateProperty(val);
          }
        },
        checkboxProperty: {
          type: "boolean",
          description: "Describe the property that is changing.",
          postset: function(val) {
            this.updateProperty(val);
          }
        },
        selectProperty: {
          options : ["Option 1","Option 2", "Option 3"],
          type: "select",
          description: "Describe the property that is changing.",
          postset: function(val) {
            this.updateProperty(val);
          }
        },
      },
      // These are the names of the broadcast channels.
      // You can specify none or multiple.
      // These appear on the right side of a component in the editor.
      broadcasts: ['sendText'],
      // Listeners are functions that are triggered when a signal is received by this component.
      // The deftaultListener is the one listener that is on... by default.
      // These appear on the left side of a component in the editor.
      defaultListener: 'changeText',
      listeners: {
        // Value is the value of the incoming signal.
        // Channel is the color of the channel.
        changeText: function (value, channel) {
          this.updateText(value,channel);
        }
      }
    });
  </script>
</element>
