<element name="app-counter">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-counter.css">
    <div class="counter">0</div>
  </template>
  <description>
    Listens for a message and counts
  </description>
  <script type="text/flathead">
  </script>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.resetCount(0);
      },
      updateDisplay: function () {
        this.querySelector('div').innerHTML = this.count;
        // bypasses default broadcasting, so that the value
        // is only sent along after a broadcast channel has been chosen
        Ceci.elementWantsAttention(this);
        this.emit(this.count);
      },
      defaultListener: 'countUp',
      listeners: {
        countUp: function (listener,channel) {
          console.log("channel is", channel);
          console.log("listener is", listener);
          this.count++;
          this.log("counting up to " + this.count, channel);
          this.updateDisplay();
        },
        countDown: function (listener,channel) {
          this.count--;
          this.log("counting down to " + this.count, channel);
          this.updateDisplay();
        },
        resetCount: function (value, channel) {
          this.count = parseInt(value);
          if (isNaN(this.count)){
            this.count = 0;
          }
          this.log("resetting counter to " + this.count, channel);
          this.updateDisplay();
        }
      }
    });
  </script>
</element>
