<element name="app-form-text">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-form-text.css">
    <input type="text"/><button>Submit</button>
  </template>
  <thumbnail>
    <div style="box-shadow: inset 0px 0px 3px rgba(0,0,0,.4); padding: .3rem 1.3rem .3rem .4rem; background: white; color: #999; font-size: 1.3rem">
      Lorem Ipsum <span style="color: #444; position: relative; top: -1px">|</span>
    </div>
  </thumbnail>
  <description>
    Broadcasts whatever message a user types
  </description>
  <script type="text/ceci">
    function Text(value) {
      this.value = value;
      this.editor = 'app-input';
    };
    Text.prototype.toString = function() {
      return String(this.value);
    };
    Ceci(this, {
      init: function (params) {
        var value = this.getAttribute('value');
        this.querySelector("input").value = value;
        var element = this;
        this.button = this.querySelector('button');
        this.input = this.querySelector('input');
        this.setAttribute('inputName',this.getAttribute('inputName') || "Text Input");
        this.input.setAttribute('placeholder', 'Placeholder Text');
        this.querySelector('button').onclick = function (e) {
          var input = element.querySelector('input[type="text"]');
          element.broadcast(input.value);
          input.value = "";
        };

        if (this.hasAttribute('fireonchange')) {
          this._fireonchange = this.getAttribute('fireonchange') == "true";
          this.updateConfig();
        }
        else {
          this.setAttribute("fireonchange", true);
          this._fireonchange = true;
          this.updateConfig();
        }

        this.input.addEventListener("input", function (e) {
          if (! element._fireonchange) return;
          element.broadcast(element.input.value);
        }, false);

        if (this.hasAttribute('placeholdertext')) {
          this.querySelector("input").setAttribute("placeholder", this.getAttribute('placeholdertext'));
        }
        else {
          this.setAttribute("placeholdertext", "Placeholder");
        }
        if (this.hasAttribute('buttontext')) {
          this.querySelector("button").innerHTML = this.getAttribute('buttontext');
        }
        else {
          this.setAttribute("buttontext", "OK");
        }

      },
      listeners: {
        setValue: function (val) {
          this.querySelector('input[type="text"]').value = val.toString();
        }
      },
      getCurrentValue: function() {
        return new Text(this.querySelector('input').value);
      },
      broadcast: function (e) {
        this.emit(new Text(e), this.getAttribute("inputName"));
      },
      updateConfig: function() {
        if (this._fireonchange) {
          this.classList.add('onchange');
          this.button.classList.add('hidden');
        } else {
          this.classList.remove('onchange');
          this.button.classList.remove('hidden');
        }
      },
      editable: {
        inputName: {
          type: "text",
          description: "The name of this field, helpful when saving data.",
          postset: function(v) {}
        },
        placeholderText: {
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("input").setAttribute("placeholder", v);
          }
        },
        emitOnChange: {
          type: "boolean",
          description: "Emit on change",
          postset: function(v) {
            this._fireonchange = v == "true";
            this.updateConfig();
          }
        }
      }
    });
  </script>
</element>
