<element name="app-form">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-form.css">
    <div class="fields">
    </div>
    <div class="buttonrow">
      <button class="half button save">Save</button>
      <button class="half button cancel">Cancel</button>
    </div>
  </template>
  <description>
    A form editor
  </description>
  <script type="text/ceci">

      // copy of the code in form.
      function FormData(hash) {
        // Turn the hash into a sequence (which should be in the right order, but we'll assume the current order)
        this.seq = [];
        this.hash = hash;
        this.editor = 'sequence';
        var that = this;
        Object.keys(hash).forEach(function (key) {
          var obj = {};
          obj.name = key;
          obj.value = hash[key].value;
          obj.editor = hash[key].editor;
          that.seq.push(obj);
        });
      };
      FormData.prototype.toString = function(pretty) {
        if (pretty) {
          var seq = this.seq;
          var parts = seq.map(function(cb, index) {
            var obj = seq[index];
            return obj.name+': ' + obj.value;
          })
          return parts.join(', ');
        } else {
          return JSON.stringify(this.seq);
        }
      }
      FormData.prototype.toPrettyString = function() {
        return JSON.stringify(this.seq.keys);
      }

      function Editable(value, name, editor) {
        this.value = value;
        this.name = name;
        this.editor = editor;
      }
      Editable.prototype.toString = function(v) {
        return this.value;
      }

      Ceci(this, {
      init: function (params) {
        var that = this;
        this.fieldnames = {};
        this.fields = this.querySelector('.fields');
        this.querySelector('.cancel').onclick = function (e) {
        // navigate _back_ XXX
        };
        this.querySelector('.save').onclick = function (e) {
          var fields = that.fields.childNodes;
          if (fields.length > 1) {
            var hash = {};
            for (var i=0; i<fields.length; i++) {
              var field = fields.item(i);
              var nval = field.getCurrentValue.call(field);
              hash[that.fieldnames[i]] = nval;
            }
            var retval = new FormData(hash);
            retval._id = that.objectName;
            that.emit(retval);
          } else if (fields.length == 1) {
            var field = fields.item(0);
            var nval = field.getCurrentValue.call(field);
            var newValue = new Editable(nval, that.fieldnames[0], field.localName);
            that.emit(newValue);
          }
        };
      },
      defaultListener: "openForm",
      listeners: {
        openForm: function (val, channel) {
          this.fields.innerHTML = ''; // clear old stuff
          if (typeof(val) == typeof('')) {
            val = {'value': val};
          }
          this.objectName = val.name;
          var element = this;
          try {
            if (val.editor == 'sequence') {
              var bits = JSON.parse(val);
              for (var i=0; i<bits.length; i++) {
                element.fieldnames[i] = element.addField(bits[i]);
              };
            } else if (val.editor) {
              element.fieldnames[0] = this.addField(val);
            }
            this.lookAtMe();
          } catch (e) {
            console.log(e.message);
            console.log(e.fileName);
            console.log(e.lineNumber);
            console.log(e.stack);
          }
          // claim focus
        },
        addField: function(val) {
          var editor = document.createElement(val.editor);
          // Iterate over all the values to create attributes on the element
          Object.getOwnPropertyNames(val).forEach(function(name, idx, array) {
            if (name != 'editor') {
              editor.setAttribute(name, String(val[name]));
            }
          });
          Ceci.convertElement(editor, function(){}, true);
          this.fields.appendChild(editor);
          return val.name;
        }
      },
    });
  </script>
</element>
