<element name="app-header">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-header.css">
    <style type="text/css">
    </style>
    <header>Title</header>
  </template>
  <description>
    I'm a page header. I don't listen or broadcast.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.setAttribute("titletext","Title");
      },
      editable: {
        "titletext": {
          title: "Header Label",
          type: "text",
          description: "Text for header label",
          postset: function(v) {
            this.querySelector("header").innerHTML = v
          }
        }
      },
      endpoint: true
    });
  </script>
</element>
