<element name="app-imagepreview">
  <template>
    <img src="" width="100%" height="200px">
  </template>
  <description>
    Shows preview of any image it receives
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function () {
        this.img = this.querySelector("img");
      },

      listeners: {
        preview: function(data, channel) {
          if(data.indexOf("data:image/") === 0) {
            this.img.src = data;
          }
        }
      },
      defaultListener: "preview"
    });
  </script>
</element>
