<element name="app-imagepreview">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-imagepreview.css"></link>
    <img src="" width="100%" min-height="200px">
  </template>
  <description>
    Shows preview of any image it receives
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function () {
        this.img = this.querySelector("img");
      },
      defaultListener: "preview",
      listeners: {
        preview: function(data, channel) {
          if(data.indexOf("data:image/") === 0) {
            this.log("receives a data image", channel);
            this.img.src = data;
          } else {
            this.log("receives data it doesn't know what to do with!", channel, Ceci.LOG_WTF);
          }
        }
      }
    });
  </script>
</element>
