<element name="app-imagepicker">
  <template>
    <label for="imagepicker">image:</label>
    <input name="imagepicker" type="file">
  </template>
  <description>
    Uploads an image
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function () {
        this.input = this.querySelector("input");
        this.img = this.querySelector("img");
        this.input.onchange = this.updateImage;
      },
      updateImage: function (evt) {
        var file = evt.target.files[0],
            img = this.img,
            element = this;
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
              element.broadcast(reader.result);
            };
            reader.readAsDataURL(file);
        }
      },
      broadcast: function(e) {
        this.emit(e);
      }
    });
  </script>
</element>
