<element name="app-input">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-input.css">
    <input type="text"><button>Submit</button>
  </template>
  <description>
    I broadcast whatever message a user types.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.querySelector('input[type="text"]')
          .setAttribute('placeholder', 'Placeholder Text');
        // this.setAttribute('fireonchange', false);

        var that = this;
        this.button = this.querySelector('button');
        this.button.onclick = function (e) {
          var input = that.querySelector('input[type="text"]');
          that.broadcast(input.value);
          input.value = "";
        };
        this.button.onchange = function (e) {
          console.log('got onchange', that._fireonchange);
          if (! that._fireonchange) return;
          var input = that.querySelector('input[type="text"]');
          that.broadcast(input.value);
          input.value = "";
        };
        
        this.setAttribute("placeholdertext","Placeholder");
        this.setAttribute("buttontext","OK");        
      },
      listeners: {
        Set_Value: function (val) {
          this.querySelector('input[type="text"]').value = val.toString();
        }
      },
      broadcast: function (e) {
        this.emit(e)
      },
      updateConfig: function() {
        if (this._fireonchange) {
          this.classList.add('onchange');
          this.button.classList.add('hidden');
        } else {
          this.classList.remove('onchange');
          this.button.classList.remove('hidden');
        }
      },
      editable: {
        "placeholdertext": {
          label: "Placeholder text",
          title :"Placeholder Text",
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("input").setAttribute("placeholder", v);
          }
        },
        "buttontext": {
          label: "Button label",
          title: "Button Label",
          type: "text",
          description: "The text label you want your button to have.",
          postset: function(v) {
            this.querySelector("button").innerHTML = v;
          }
        },
        "fireonchange": {
          title: "Emit on change",
          type: "boolean",
          description: "Emit on change",
          postset: function(v) {
            console.log(v);
            this._fireonchange = v == "true" ? true : false;
            this.updateConfig();
          }
        }
      }
    });
  </script>
</element>
