<element name="app-input">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-input.css">
    <div>
      <input type="text"/><button>Submit</button>
    </div>
  </template>
  <description>
    I broadcast whatever message a user types.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.input = this.querySelector('input');
        this.input.setAttribute('placeholder', 'Placeholder Text');

        var that = this;
        this.button = this.querySelector('button');
        this.button.onclick = function (e) {
          var input = that.querySelector('input[type="text"]');
          that.broadcast(input.value);
          input.value = "";
        };
        this.input.addEventListener("input", function (e) {
          if (! that._fireonchange) return;
          that.broadcast(that.input.value);
        }, false);

        if (this.hasAttribute('fireonchange')) {
          this._fireonchange = this.getAttribute('fireonchange') == "true";
          this.updateConfig();
        }
        else {
          this.setAttribute("fireonchange", "false");  
        }
        if (this.hasAttribute('placeholdertext')) {
          this.querySelector("input").setAttribute("placeholder", this.getAttribute('placeholdertext'));
        }
        else {
          this.setAttribute("placeholdertext", "Placeholder");  
        }
        if (this.hasAttribute('buttontext')) {
          this.querySelector("button").innerHTML = this.getAttribute('buttontext');
        }
        else {
          this.setAttribute("buttontext", "OK");
        }        
      },
      listeners: {
        Set_Value: function (val) {
          this.querySelector('input[type="text"]').value = val.toString();
        }
      },
      broadcast: function (e) {
        this.emit(e)
      },
      updateConfig: function() {
        if (this._fireonchange) {
          this.classList.add('onchange');
          this.button.classList.add('hidden');
        } else {
          this.classList.remove('onchange');
          this.button.classList.remove('hidden');
        }
      },
      editable: {
        "placeholdertext": {
          label: "Placeholder text",
          title :"Placeholder Text",
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("input").setAttribute("placeholder", v);
          }
        },
        "buttontext": {
          label: "Button label",
          title: "Button Label",
          type: "text",
          description: "The text label you want your button to have.",
          postset: function(v) {
            this.querySelector("button").innerHTML = v;
          }
        },
        "fireonchange": {
          title: "Emit on change",
          type: "boolean",
          description: "Emit on change",
          postset: function(v) {
            this._fireonchange = v == "true";
            this.updateConfig();
          }
        }
      }
    });
  </script>
</element>
