<element name="app-justgiving-donation">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-justgiving-donation.css"></link>
    <div>
      <h1 id="donationAsk">I'm going to donate</h1>
      <h2>Donation Amount: <span></span></h2>

      <div class="button-wrapper">
        <button class="button" value=""></button>
        <button class="button" value=""></button>
        <button class="button" value=""></button>
      </div>

      <button class="button" id="buttonOwnAmount" value="0">Choose my own amount</button>

      <p class="logos">
        <img src="{{ASSET_HOST}}/assets/images/justgiving-with-pp-logo.jpg" /><br />
        Donating to JustGiving page run by<br /><span id="jg_pagename"></span>
      </p>
    </div>

  </template>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-justgiving-donate.png" />
  </thumbnail>
  <description>
    Add your own JustGiving donation buttons, and start raising funds for your JustGiving page.
  </description>
  <script type="text/flathead">
  </script>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        // This param is used to send a broadcast event on
        // return from the donation page.
        var successParamKey = 'success';
        var successParamValue = '1';

        this.targetURL = 'http://www.justgiving.com';
        this.customAmount = 0;

        var that = this;

        this.setAttribute("yourJustGivingPageName", this.getAttribute("yourJustGivingPageName") || 'yourpagename');
        this.setAttribute("donationAmountButtons", this.getAttribute("donationAmountButtons")|| JSON.stringify([""]));
        this.setAttribute("showOwnAmountButton", this.getAttribute("showOwnAmountButton")|| false);
        this.setAttribute("donateMessage", this.getAttribute("donateMessage") || "I'm going to donate");

        var buttonOwnAmount = this.querySelector("#buttonOwnAmount");
        buttonOwnAmount.onclick = function () {
          that.submitToJustGiving(0);              
        };

        this.appUrl = this.addParamToCurrentURL(successParamKey, successParamValue);

        if (this.getParamValue(successParamKey) === successParamValue) {
          setTimeout(function() {
            that.broadcast('donationSuccess', true);
          }, 500);
        }

      },
      getParamValue: function(key) {
        var queryString = window.location.search;
        var paramList = queryString.substr(1).split('&');
        for (var i=0, j=paramList.length; i<j; i++) {
          var keyValue = paramList[i].split('=');
          if (key === keyValue[0] && keyValue.length > 1) {
            var value = keyValue[1];
            break;
          }
        }
        return value;
      },
      addParamToCurrentURL: function(key, value) {
        var qs = window.location.search || '?';
        var param = key + '=' + window.encodeURIComponent(value);
        var path = window.location.pathname || 'index.html';
        if (qs !== '?') {
            qs = qs + "&";
        }
        return window.location.origin + path + qs + param;
      },
      buildMenu: function(v){
        var that = this;
        var options = JSON.parse(v);
        var buttonWrapper = this.querySelector(".button-wrapper");
        buttonWrapper.innerHTML = "";

        if (!options) return;

        options.forEach(function (value, index) {
          if (value) {
            var item = document.createElement("button");
            item.setAttribute("value", value);
            item.setAttribute("class", "button");
            item.innerHTML = "£" + value;
            buttonWrapper.appendChild(item);
            item.onclick = function () {
              that.submitToJustGiving(value);              
            };
          }
        });

        this._updateDonationLabel();
      },
      submitToJustGiving: function(amount) {
        var jgURL = this.targetURL + '/' + this.getAttribute('yourJustGivingPageName') + '/donate/?amount=' + amount + '&exitUrl=' + this.appUrl;
        console.debug(jgURL);
      },
      editable: {
        "yourJustGivingPageName": {
          type: "text",
          description: "The name of your fundraising page e.g. justgiving.com/your-page-name",
          postset: function(v) {
            this.querySelector("#jg_pagename").innerHTML = v;
          }
        },
        "donationAmountButtons": {
          type: "multiple",
          description: "Donation Amount Buttons",
          postset: function(v) {
            this.buildMenu(v);
          }
        },
        "donateMessage": {
          type: "text",
          description: "Set you own message asking for donations",
          postset: function(v) {
            this.querySelector("#donationAsk").innerHTML = v;
          }
        },
        "showOwnAmountButton": {
          title: "Add 'Choose own amount' button",
          type: "boolean",
          description: "Switchs on an optional button",
          postset: function(v){
            var item = this.querySelector("#buttonOwnAmount");
            if (v === "true") {
              item.setAttribute("style", "display:block;");
            }
            else {
              item.setAttribute("style", "display:none;");
            }
          }
        },
        "useTestingSandbox": {
          title: "Use Testing Sandbox",
          type: "boolean",
          description: "",
          postset: function(v){
            if (v === "true") {
              this.targetURL = 'http://v3-sandbox.justgiving.com';
            } else {
              this.targetURL = 'http://www.justgiving.com';
            }
          }
        },
      },
      listeners: {
        sendYourOwnDonationAmount: function (val) {
          val = parseInt(val);
          if (val > 0) {
            this.setAmount(val);
          }
        },
        submit: function () {
          this.submitToJustGiving(this.customAmount);
        }
      },
      _updateDonationLabel: function () {
        if (this.customAmount) {
          this.querySelector('h2').hidden = false;
        } else {
          this.querySelector('h2').hidden = true;
        }
      },
      setAmount: function (val) {
        val = Number(val);
        this.querySelector('h2 > span').innerHTML = '';
        this.querySelector('h2 > span').appendChild(document.createTextNode("£"+val));
        this.customAmount = val;
        this._updateDonationLabel();
      },
      broadcasts: ['donationSuccess'],
      defaultBroadcasts: ['donationSuccess'],
    });
  </script>
</element>
