<element name="app-label">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-label.css">
    <h2></h2>
  </template>
  <description>I listen for a message and update my label text.</description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.setValue('Heading');
      },
      editable: {
        "labeltext": {
          title: "Label text",
          type: "text",
          description: "A text for your label to show up in your app",
          postset: function(v) {
            this.setValue(v);
          }
        }
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('h2').innerHTML = val.toString();
        }
      }
    });
  </script>
</element>
