<element name="app-label">
  <template>
    <link rel="stylesheet" href="http://localhost:50826/assets/style/util.css">
    <link rel="stylesheet" href="http://localhost:50826/assets/style/headers.css">
    <section role="region">
      <article class="content scrollable header">
        <header class="fixed">
          <h2></h2>
        </header>
      </article>
    </section>
  </template>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.setValue('Heading');
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('h2').innerHTML = val.toString();
        }
      }
    });
  </script>
</element>
