<element name="app-map">

  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-map.css">
    <div class="map"></div>
    <button class="pin">pin this location</button>
  </template>
  <description>I display a map centered on where the phone is, and optionally emit locations the user identifies.</description>

  <script type="text/ceci">
    var element = this;
    require(['http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js'], function() {
      Ceci(element, {
        init: function() {
          var map = L.map(element.querySelector('.map'));
          L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {maxZoom: 18}).addTo(map);
          var t = element;
          t.map = map;

          map.on('locationfound', t.onLocationFound);
          map.on('locationerror', t.onLocationError);
          map.locate({setView: true, maxZoom: 16});

          element._pin = element.querySelector(".pin");
          element._pin.onclick = function(e) {
            element.broadcast(element.map.getCenter());
          }
          element._pin.onclick();

        },

        onLocationFound: function(e) {
          var radius = e.accuracy / 2;

          L.marker(e.latlng).addTo(this.map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup();

          L.circle(e.latlng, radius).addTo(this.map);
        },

        onLocationError: function(e) {
          alert(e.message);
        },

        broadcast: function (e) {
          this.emit(e)
        },
        controlPin: function(truefalse) {
          if (truefalse) {
            this._pin.classList.remove('hidden');
          } else {
            this._pin.classList.add('hidden');
          }
        },

        editable: {
          "location": {
            title: "Location",
            type: "text",
            description: "Set where the map should be centered (empty means where the phone is)",
            postset: function(v) {
              this.findLocationByName(v);
            }
          },
          "pin": {
            title: "Show pinpoint button",
            type: "boolean",
            description: "Show the button that emits current location",
            postset: function(v) {
              element.controlPin(v);
            }
          }
        },
        centerOn: function(lat, lng, type) {
          var location = new L.LatLng(lat, lng);
          this.map.panTo(location);

          if (type == 'city' || type == 'administrative') {
            this.map.setZoom(11);
          } else {
            this.map.setZoom(13);
          }
        },
        listeners: {
          recordLocation: function(val) {
            this.broadcast(this.map.getCenter());
          },
          centerOnPhone: function(val) {
            this.map.locate({setView: true, maxZoom: 16});
          },
          findLocationByName: function(val) {
            if (!val) {
              this.centerOnPhone();
            } else {
              $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + val,
                function(v){
                  element.centerOn(v[0].lat, v[0].lon, v[0].osm_type)
                });
            }
          }
        }
      });
      callback();
    });
  </script>
</element>
