<element name="app-metronome">

  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-metronome.css">
    <div class="metronome-wrapper">
      <div class="metronome-shadow"></div>
      <div class="metronome-body">
        <div class="metronome-hole"></div>
        <div class="metronome-arrow"></div>
      </div>
    </div>
  </template>
  <description>I listen for a message and update my label text.</description>

  <script type="text/ceci">
    Ceci(this, {
      init: function() {
        this.period = 1000;
        this.count = 0;
        this.tick();
        this.setArrowSpeed();
      },
      setArrowSpeed : function(){
        var animDuration = this.period/1000*2;

        var metronomeArrow = this.querySelector('.metronome-arrow');

        metronomeArrow.setAttribute(
          'style',
          "-webkit-animation-duration", animDuration + "s;" +
          "animation-duration", animDuration + "s"
        );
      },
      broadcast: function (e) {
        this.emit(e)
      },
      tick: function() {
        this.count++;
        this.broadcast(this.count);

        // Emitting Animation Beta
        var indicator = this.querySelector('.broadcast-channels');
        $(indicator).addClass("emitanim");
        window.setTimeout(function(){
          $(indicator).removeClass("emitanim");
        }, this.period - 50);


        var t = this;
        var defer = function(){
          t.tick();
        };
        setTimeout(defer, this.period);
      },
      editable: {
        "period": {
          title: "Metronome Period",
          min : 500,
          max: 10000,
          type: "number",
          description: "Set the period between metronome ticks",
          postset: function(v) {
            // this.period = parseInt(v);
            this.setArrowSpeed();
          }
        }
      },
      listeners: {
        setPeriod: function (val) {
          // errors?
          val = parseInt(val);
          if (val > 0) {
            // this.setAttribute('period', val);
            this.period = parseInt(val);
          }
        }
      }
    });
  </script>
</element>
