<element name="app-multi-line-input">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-multi-line-input.css">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <textarea></textarea>
      </div>
    </div>
  </template>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-multi-line-input.png" />
  </thumbnail>
  <tags>form,text,input</tags>
  <description>
    A multi-line text input.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.textarea = this.querySelector("textarea");
        var element = this;
        if (! this.hasAttribute('defaulttext')) {
          this.setAttribute('defaulttext', 'Enter some text');
        } else {
          this.textarea.setAttribute('placeholder', this.getAttribute('defaulttext'));
        }
        this.textarea.addEventListener("input", function (e) {
          element.broadcast('change', element.textarea.value);
        }, false);
      },
      broadcast: function(val) {
        this.emit(val);
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('textarea').value = val.toString();
        }
      },
      editable: {
        defaultText: {
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("textarea").setAttribute("placeholder", v);
          }
        }
      },
      broadcasts: ['change']
    });
  </script>
</element>
