<element name="app-multi-line-input">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-multi-line-input.css">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <textarea></textarea>
      </div>
    </div>
  </template>
  <thumbnail>
    <div style="box-shadow: inset 0px 0px 4px rgba(0,0,0,.6); padding: .2rem 1.3rem .3rem .4rem; background: white; color: #999; font-size: 1rem">
      Lorem Ipsum</br>
      sit dolor. <span style="color: #444; position: relative; top: -1px">|</span>
    </div>
  </thumbnail>
  <description>
    A basic textarea
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.textarea = this.querySelector("textarea");
        var element = this;
        if (! this.hasAttribute('defaulttext')) {
          this.setAttribute('defaulttext', 'Enter some text');
        } else {
          this.textarea.setAttribute('placeholder', this.getAttribute('defaulttext'));
        }
        this.textarea.addEventListener("input", function (e) {
          element.broadcast(element.textarea.value);
        }, false);
      },
      broadcast: function(val) {
        this.emit(val);
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('textarea').value = val.toString();
        }
      },
      editable: {
        defaultText: {
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("textarea").setAttribute("placeholder", v);
          }
        }
      }
    });
  </script>
</element>
