<element name="app-number-checker">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-number-checker.css">
    <div class="checker">
      <select id="blah">
        <option value="greater">Greater than</option>
        <option value="greaterEqual">Greater than or equal to</option>
        <option value="equal">Equal to</option>
        <option value="notEqual">Not equal to</option>
        <option value="lessEqual">Less than or equal to</option>
        <option value="less">Less than </option>
      </select>
      <input type="number" />
      <div class="check-indicator">
        <div class="check-light"></div>
        <div class="indicator-sheen"></div>
      </div>
    </div>
  </template>
  <tags>numbers,logic,math</tags>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-number-checker.png" />
  </thumbnail>
  <description>
    Checks if an incoming number meets a certain criteria.
  </description>
  <script type="text/flathead">
  </script>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.setAttribute("checkAgainst", this.getAttribute("checkAgainst") || 5);
        this.setAttribute("checkFor", this.getAttribute("checkFor") || "greater");

        this.count = 0;
        this.incomingNumber;
        this.checkAgainst = this.getAttribute("checkAgainst");
        this.checkFor = this.getAttribute("checkFor");
        this.indicator = this.querySelector(".check-indicator");

        var that = this;

        this.querySelector("input").onchange = function(e){
          that.checkAgainst = e.target.value;
          that.setAttribute("checkAgainst", that.checkAgainst);
          that.fakeSave();
        }

        this.querySelector("input").value = this.checkAgainst;

        var checkOptions = this.querySelector("select");

        checkOptions.value = this.checkFor;

        checkOptions.onchange = function(e){
          if (!e)
          var e = window.event;
          that.checkFor = this.options[this.selectedIndex].value;
          that.setAttribute("checkFor",that.checkFor);
          that.fakeSave();
        }
      },
      fakeSave : function() {
        this.setAttribute("countItem",this.getAttribute("countItem"));
      },
      checkTheNumber: function () {
        that = this;
        var ok = false;

        switch (this.checkFor) {
          case 'greater':
            if(this.incomingNumber > this.checkAgainst){ ok = true; }
          break;
          case 'greaterEqual':
            if(this.incomingNumber >= this.checkAgainst){ ok = true; }
          break;
          case 'less':
            if(this.incomingNumber < this.checkAgainst){ ok = true; }
          break;
          case 'lessEqual':
            if(this.incomingNumber <= this.checkAgainst){ ok = true; }
          break;
          case 'equal':
            if(this.incomingNumber == this.checkAgainst){ ok = true; }
          break;
          case 'notEqual':
            if(this.incomingNumber != this.checkAgainst){ ok = true; }
          break;
        }
        if(this.incomingNumber == false){
          ok = false;
        }
        if(ok == true){
          this.indicator.setAttribute("light","good");
          this.broadcast('yes', this.incomingNumber);
        } else {
          this.indicator.setAttribute("light","bad");
          this.broadcast('no', this.incomingNumber);
        }
        el = this.querySelector(".check-light");
        el.classList.remove("check-strobe");
        el.offsetWidth = el.offsetWidth;
        el.addEventListener('webkitAnimationEnd', function(){
          el.classList.remove("check-strobe");
        });
        el.addEventListener('animationend', function(){
          el.classList.remove("check-strobe");
        });
        el.classList.add("check-strobe");
      },
      editable: {
        countItem: {
          type: "text",
          description: "Name for what you're counting",
          postset: function(v) {
          }
        }
      },
      defaultListener: 'checkNumber',
      broadcasts: ['yes', 'no'],
      defaultBroadcasts: ['yes'],
      listeners: {
        checkNumber: function (listener,channel) {
          this.incomingNumber = parseInt(listener) || false;
          this.checkTheNumber();
        }
      }
    });
  </script>
</element>
