<element name="app-paypal-donation">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-paypal-donation.css"></link>
    <div>
      <h1 id="donationAsk">I'm going to donate</h1>
      <h2>Donation Amount: <span></span></h2>

      <!-- Sandbox URL https://www.sandbox.paypal.com/cgi-bin/webscr -->
      <!-- Live URL https://www.paypal.com/cgi-bin/webscr -->
      <form id="paypal_donation_form" method="post" action="https://www.paypal.com/cgi-bin/webscr">

        <!-- PayPal bits -->
        <input type="hidden" name="amount" id="pp_amount" value="" />
        <input type="hidden" name="business" id="pp_business" value="" />
        <input type="hidden" name="currency_code" id="pp_currency_code" value="" />
        <input type="hidden" name="item_name" id="fundrasingCampaignName" value="Donation from AppMaker App" />
        <input type="hidden" name="no_shipping" value="1"/>
        <input type="hidden" name="rm" value="1"/>
        <input type="hidden" name="cmd" value="_donations" /> <!-- TODO - could switch between donation and payments -->
        <input type="hidden" name="return" value="" /> <!-- Return url is the current app url with query param to tell success -->

        <div class="button-wrapper">
          <button class="button" value=""></button>
          <button class="button" value=""></button>
          <button class="button" value=""></button>
        </div>

        <button class="button" id="buttonOwnAmount" value="0">Choose my own amount</button>
      </form>

      <p class="logos">
        <img src="{{ASSET_HOST}}/assets/images/paypal-logo.jpg" /><br />
        Donating to PayPal account run by<br /><span id="pp_account_email"></span>
      </p>
    </div>

  </template>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-paypal-donate.png" />
  </thumbnail>
  <description>
    Add your own PayPal donation buttons, and start raising funds.
  </description>
  <script type="text/flathead">
  </script>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        // Make this true if testing with the sandbox.
        // Note: For the return url to auto redirect back to the app
        // Auto return needs to be enabled.
        var sandbox = true;
        // This param is used to send a broadcast event on
        // return from the donation page.
        var successParamKey = 'success';
        var successParamValue = '1';
        var that = this;

        this.setAttribute("yourPayPalEmailAddress", this.getAttribute("yourPayPalEmailAddress") || 'you@example.com');
        this.setAttribute("currency", this.getAttribute("currency") || 'USD');
        this.setAttribute("donationAmounts", this.getAttribute("donationAmounts")|| JSON.stringify([""]));
        this.setAttribute("showOwnAmountButton", this.getAttribute("showOwnAmountButton")|| false);

        this.setAttribute("donateMessage", this.getAttribute("donateMessage") || "I'm going to donate");

        var buttonOwnAmount = this.querySelector('#buttonOwnAmount');
        var appUrl = this.addParamToCurrentURL(successParamKey, successParamValue);
        var returnInput = this.querySelector('#paypal_donation_form input[name="return"]');
        returnInput.setAttribute('value', appUrl);

        if (this.getParamValue(successParamKey) === successParamValue) {
          setTimeout(function() {
            that.broadcast('donationSuccess', true);
          }, 500);
        }

        if (this.hasAttribute('amount')) {
          this.setAmount(this.getAttribute('amount'));
        }
      },
      getParamValue: function(key) {
        var queryString = window.location.search;
        var paramList = queryString.substr(1).split('&');
        for (var i=0, j=paramList.length; i<j; i++) {
          var keyValue = paramList[i].split('=');
          if (key === keyValue[0] && keyValue.length > 1) {
            var value = keyValue[1];
            break;
          }
        }
        return value;
      },
      addParamToCurrentURL: function(key, value) {
        var qs = window.location.search || '?';
        var param = key + '=' + window.encodeURIComponent(value);
        var path = window.location.pathname || 'index.html';
        if (qs !== '?') {
            qs = qs + "&";
        }
        return window.location.origin + path + qs + param;
      },
      buildMenu: function(v){
        var that = this;
        var options = JSON.parse(v);
        var buttonWrapper = this.querySelector(".button-wrapper");
        var currency = this.getAttribute("currency");
        buttonWrapper.innerHTML = "";

        if (!options) return;

        options.forEach(function (value, index) {
          if (!value) return;
          var item = document.createElement("button");
          item.setAttribute("value", value);
          item.innerHTML = value + " " + currency;
          buttonWrapper.appendChild(item);
          item.onclick = function (e) {
            that.setAmount(value);
          };
        });

        this._updateDonationLabel();
      },
      editable: {
        "yourPayPalEmailAddress": {
          type: "text",
          description: "You can get this from your PayPal account",
          postset: function(v) {
            this.querySelector("#pp_business").value = v;
            this.querySelector("#pp_account_email").innerHTML = v;
          }
        },
        "currency": {
          options : ["GBP", "USD", "CHF", "CAD"],
          type: "select",
          description: "Pick your preferred donation currency.",
          postset: function(v) {
            this.buildMenu(this.donationAmounts);
            this.querySelector("#pp_currency_code").value = v;
          }
        },
        "donationAmounts": {
          type: "multiple",
          description: "Donation Amounts",
          postset: function(v) {
            this.buildMenu(v);
          }
        },
        "donateMessage": {
          type: "text",
          description: "Set you own message asking for donations",
          postset: function(v) {
            this.querySelector("#donationAsk").innerHTML = v;
          }
        },
        "showOwnAmountButton": {
          title: "Add 'Choose own amount' button",
          type: "boolean",
          description: "Switchs on an optional button",
          postset: function(v){
            var item = this.querySelector("#buttonOwnAmount");
            if (v === "true") {
              item.setAttribute("style", "display:block;");
            }
            else {
              item.setAttribute("style", "display:none;");
            }
          }
        },
        "nameYourFundraisingCampaign": {
          type: "text",
          description: "This tells the organisation who raised the funds",
          postset: function(v) {
            this.querySelector("#fundrasingCampaignName").value = "AppMaker donation from " + v;
          }
        },
        "usePaypalSandbox": {
          title: "Use Paypal Sandbox",
          type: "boolean",
          description: "",
          postset: function(v){
            var appForm = this.querySelector("#paypal_donation_form");
            if (v === "true") {
              appForm.setAttribute('action', 'https://www.sandbox.paypal.com/cgi-bin/webscr');
            } else {
              appForm.setAttribute('action', 'https://www.paypal.com/cgi-bin/webscr');
            }
          }
        },
      },
      listeners: {
        sendYourOwnDonationAmount: function (val) {
          val = parseInt(val);
          if (val > 0) {
            this.setAmount(val);
          }
        },
        submit: function () {
          this.querySelector('#paypal_donation_form').submit();
        }
      },
      _updateDonationLabel: function () {
        if (this.querySelector('input[name="amount"]').value) {
          this.querySelector('h2').hidden = false;
        }
        else {
          this.querySelector('h2').hidden = true;
        }
      },
      setAmount: function (val) {
        val = Number(val);
        this.querySelector('input[name="amount"]').value = val;
        this.querySelector('h2 > span').innerHTML = '';
        this.querySelector('h2 > span').appendChild(document.createTextNode(val));
        this.setAttribute('amount', val);
        this._updateDonationLabel();
      },
      broadcasts: ['donationSuccess'],
      defaultBroadcasts: ['donationSuccess'],
    });
  </script>
</element>
