<element name="app-photo-folder">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-photo-folder.css">

      <h1>
        <span class="item-count"></span>
        Images
      </h1>
      
      <div class="folder-content-wrapper">
      <div class="data-view-toggle">
        <a class="selected-item" show="single" href="#"><span class="icon"></span></a>
        <a show="thumbnails" href="#"><span class="icon"></span></a>
      </div>

      <div class="show-wrapper show-single">
        <div class="thumbnails"></div>
        <div class="single">
          <div class="photos"></div>
        </div>
      </div>

      </div>
      </div>

  </template>
  <description>
    Shows photos that you send to it. Accepts URL to an image
  </description>
  <friends>app-form</friends>
  <script type="text/ceci">
    var element = this;
    require(['https://cdn.firebase.com/v0/firebase.js'], function() {

      function Editable(value, name) {
        this.value = value;
        this.name = name;
        this.editor = editor;
      }
      
      Editable.prototype.toString = function() {
        return this.value;
      }

      Ceci(element, {
        init: function (params) {

          //Toggle between thumbnails and single view
          $(this).find(".data-view-toggle").on('click','a', function(evt) {
            var show = $(this).attr("show");
            $(this).parent().find("a").removeClass("selected-item");
            $(this).addClass("selected-item");
            $(".show-wrapper").removeClass("show-single").removeClass("show-thumbnails").addClass("show-" + show);
            return false;
          });

          params = params ? params : {};
          var appId = params.appId || "app123";
          var io = new Firebase("https://flathead.firebaseio.com/" + appId + "/photo_folder/1");

          var t = this;
          t.io = io;
          t.imageCount = 0;
          t.currentImage = 1;

          //Load up hammer-time for swiping photos left and right in the single view
          $.ajax({
            type: "GET",
            url : "{{ASSET_HOST}}/assets/js/jquery.hammer.min.js",
            dataType: "script",
            success: function(){
              var photoViewer = $(t).find(".single").hammer();
              photoViewer.on("swiperight",function(ev){
                t.changeImage("previous");
              });
              photoViewer.on("swipeleft",function(ev){
                t.changeImage("next");
              });
            }
          });

          // Changes the images when it's swiped

          //Todo - clean up the duplicate code here for adding to single and thumbnail view
          var addItem = function(photoObj,name){

            //Single Item
            var imageWrapper = document.createElement('div');
            imageWrapper.innerHTML = "<div class='image-container'><img src=" + photoObj["url"] + " /></div>";
            imageWrapper.setAttribute('firebasename', name);
            imageWrapper.setAttribute("class","image-wrapper");

            var deleteMe = document.createElement('div');
            deleteMe.innerHTML = "X";
            deleteMe.setAttribute("class","delete-image");
            $(imageWrapper).find(".image-container").append(deleteMe);

            if(photoObj["caption"]){
              var caption = document.createElement('div');
              caption.innerHTML = photoObj["caption"] || "No caption";
              caption.setAttribute("class","image-caption");
              imageWrapper.appendChild(caption);
            }
            
            t.querySelector('.photos').appendChild(imageWrapper);
            $(imageWrapper).find("img").addClass("warp-in");

            $(imageWrapper).on('click', function(evt) {
              var fireId = $(this).attr('firebasename');
              var fireElt = t.io.child(fireId);
              fireElt.once('value', function(snapshot) {
                var url = snapshot.val()["url"];
                t.broadcast(url);
              });
            });

            //Thumbnail Items
            var imageWrapper = document.createElement('div');
            imageWrapper.innerHTML = "<img src=" + photoObj["url"] + " />";
            imageWrapper.setAttribute('firebasename', name);
            imageWrapper.setAttribute("class","image-wrapper");
            t.querySelector('.thumbnails').appendChild(imageWrapper);

            $(imageWrapper).on('click', function(evt) {
              var fireId = $(this).attr('firebasename');
              var fireElt = t.io.child(fireId);

              fireElt.once('value', function(snapshot) {
                var url = snapshot.val()["url"];
                t.broadcast(url);
              });
            });

            $(deleteMe).on('click', function(evt) {
              var img = $(this).closest(".image-wrapper");
              img.remove();
              var fireId = img.attr('firebasename');
              var fireElt = t.io.child(fireId);

              if(t.currentImage == t.imageCount) {
                t.changeImage("previous");
              }

              fireElt.remove();

            }); // End adding an item

            //Prevent image dragging on swipe
            $('img').on('dragstart', function(event) { event.preventDefault(); });

          };
          var resetList = function() {
          }
          var updateList = function() {
          }
          this.io.on('child_removed', function(snapshot) {
            updateList();
          });

          // This generates the aggregate stats and builds the stats tables
          this.io.on('value',function(snapshot){
            t.imageCount = snapshot.numChildren();
            $(t).find(".photos").width(290*t.imageCount);
            $(t).find(".item-count").text( t.imageCount);
          });

          this.io.on('child_added', function(snapshot) {
            addItem(snapshot.val(),snapshot.name());
          });

        },
        changeImage : function(action){
          var t = this;
          if (parseInt(action)){
            t.currentImage = parseInt(action);
          }
          if (action == "next"){
            t.currentImage++;
            if(t.currentImage > t.imageCount){
              t.currentImage = t.imageCount;
            }
          }
          if (action == "previous") {
            t.currentImage--;
            if(t.currentImage < 1){
              t.currentImage = 1;
            }
          }
          var newLeft = 290 - (t.currentImage*290);
          $(t).find(".photos").css("left", newLeft);
        },
        addPhoto : function(v){

          var image = {};

          // Parses either a string (url) or a data form object
          // Expects something with a 'caption' and 'url' key

          if(typeof v == "string"){
            image["url"] = v;
            this.io.push(image);
          } else {
            var hasURL = false;
            var dataObj = JSON.parse(v.toString());

            for (var key in dataObj){

              if (dataObj[key]["name"] == "url") {
                hasURL = true;
                image["url"] =  dataObj[key]["value"]
              }

              if (dataObj[key]["name"] == "caption") {
                image["caption"] =  dataObj[key]["value"]
              }
            }
            if(hasURL){
              this.io.push(image);
            }

          }

        },
      defaultListener: 'addItem',
        listeners: {
          addItem: function (v, channel) {
            this.log("adding: " + v.toString(), channel);
            this.lookAtMe();
            this.addPhoto(v);
            this.changeImage(1);
          },
          clearList: function (v, channel) {
            this.log("clearing list", channel);
            this.io.remove();
            this.resetList();
          }
        },
        broadcast: function (url) {
          this.emit(url);
        }
      });
      callback();
    });
  </script>
</element>
