<element name="app-popcorn-maker">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-popcorn-maker.css"></link>
    <iframe class="popcorn-iframe" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
  </template>
  <friends>app-button,app-counter</friends>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-popcorn-maker.png" />
  </thumbnail>
  <description>
    Embeds a <a href="//popcorn.webmaker.org">Popcorn Maker</a> project.
  </description>
  <tags>video</tags>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var iframe = this.querySelector('iframe.popcorn-iframe');

        var that = this;

        var eventMap = {
          loadedmetadata: function (data) { that.broadcast('ready'); },
          play: function (data) { that.broadcast('play', data.currentTime); },
          pause: function (data) { that.broadcast('pause', data.currentTime); },
          timeupdate: function (data) { that.broadcast('time', data.currentTime); },
          trackstart: function (data) { that.broadcast('event'); }
        };

        function onIframeMessage (e) {
          if (e.source === iframe.contentWindow && e.data && eventMap[e.data.type]) {
            eventMap[e.data.type](e.data);
          }
        }

        window.addEventListener('message', onIframeMessage, false);

        var projectURL = this.getAttribute('popcornmakeurl') || 'https://secretrobotron.mywebmaker.org/popcorn/14i9_';
        this.setAttribute('popcornmakeurl', projectURL);
      },
      editable: {
        PopcornMakeUrl: {
          type: "text",
          description: "Popcorn Maker project URL (makes.org) to embed.",
          postset: function(v) {
            this.setProject(v);
          }
        },
      },
      setProject: function (val) {
        var match = val.match(/https\:\/\/([a-zA-Z0-9_-]+)\.(mywebmaker|makes)\.org\/popcorn\/([a-zA-Z0-9-]+)_?/);

        if (match && match[1] && match[3]) {
          var iframe = this.querySelector('iframe.popcorn-iframe');
          var src = 'https://' + match[1] + '.' + match[2] + '.org/popcorn/' + match[3] + '_?details=hidden';
          iframe.src = src;
        }
      },
      broadcasts: ['ready', 'play', 'pause', 'event', 'time'],
      defaultBroadcasts: ['event'],
      defaultListener: 'play',
      listeners: {
        play: function (v) {
          this.querySelector('iframe').contentWindow &&
            this.querySelector('iframe').contentWindow.postMessage({ type: 'play' }, this.querySelector('iframe').src);
        },
        pause: function (v) {
          this.querySelector('iframe').contentWindow &&
            this.querySelector('iframe').contentWindow.postMessage({ type: 'pause' }, this.querySelector('iframe').src);
        },
        rewind: function (v) {
          this.querySelector('iframe').contentWindow &&
            this.querySelector('iframe').contentWindow.postMessage({ type: 'currentTime', currentTime: 0 }, this.querySelector('iframe').src);
        },
        time: function (v) {
          this.querySelector('iframe').contentWindow &&
            this.querySelector('iframe').contentWindow.postMessage({ type: 'currentTime', currentTime: Number(v) }, this.querySelector('iframe').src);
        }
      }
    });
  </script>
</element>
