<element name="app-randomcat">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-random_cat.css">
    <div class="wrapper"><img style="width: 30%" src="http://placekitten.com/200/200" /></div>
    <canvas />
  </template>
  <description>
    Shows a random cat
  </description>
  <script type="text/ceci">
    Ceci(this, {
      percent : 0,
      init: function (params) {

        var cat = this.querySelector("img");
        var t = this;

        cat.onclick = function(){
          t.changeCat();
        };

        cat.onload = function(){
          var c = t.querySelector("canvas");
          var ctx = c.getContext("2d");
          var img = t.querySelector("img");
          ctx.drawImage(img, 10, 10);
          alert(c.toDataURL());
          t.emit(c.toDataURL());
        };
        var percent = 80;
        this.setAttribute('catwidth', percent);
      },
      editable: {
        catWidth: {
          min : 0,
          max: 100,
          type: "number",
          description: "Set the width of your cat",
          postset: function(v) {
            this.setWidth(v);
          }
        }
      },
      defaultListener: 'changeCat',
      listeners: {
        changeCat: function () {
          var cat = this.querySelector("img");
          var random = 600 - Math.floor((Math.random()*500));
          var src = "http://placekitten.com/"+random+"/"+random;
          cat.setAttribute("src", src);
        },
        setWidth : function(val){
         this.querySelector("img").style.width = val + "%";
        }
      }
    });
  </script>
</element>
