<element name="app-seekbar">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-seekbar.css">
    <div class="slider"></div>
  </template>
  <description>
    A slider that broadcasts a value
  </decription>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var slider = $(this).find(".slider");
        var that = this;
        slider.slider({
          range:"min",
          max : 100,
          min: 0,
          slide : function(event,ui){
            that.changeValue($(this).slider("value"));
          }
        });
      },
      broadcast: function(val) {
        this.emit(val);
      },
      changeValue: function(val) {
        this.emit(val);
      }
    });
  </script>
</element>
