<element name="app-selector">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-selector.css">
      <section>
        <h1>Choose your option(s)</h1>
        <ul>
          <li role="option">
            <label for="option1">
              <input id="option1" type="radio" value="Option 1" name="option">
              <span>Option 1</span>
            </label>
          </li>
          <li role="option">
            <label for="option2">
              <input id="option2" type="radio" value="Option 2" name="option">
              <span>Option 2</span>
            </label>
          </li>
          <li role="option">
            <label for="option3">
              <input id="option3" type="radio" value="Option 3" name="option">
              <span>Option 3</span>
            </label>
          </li>
        </ul>
      </section>
      <menu>
        <button class="recommend full">Ok</button>
      </menu>
  </template>
  <tags>menu,navigation</tags>
  <description>
    A selector screen.
  </description>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-selector.png" />
  </thumbnail>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.setValue('Single Select List');
        var that = this;
        var b = this.querySelector('button');

        $(b).on("click",function(){
          var chosen = that.querySelector('input:checked');
          if(chosen){
            that.choose(chosen.value);
          }

        })

      },
      editable: {
        "listtitle": {
          title: "List Title",
          type: "text",
          description: "A title for your list",
          postset: function(v) {
            this.setValue(v);
          }
        }
      },
      choose : function (val){
        this.emit('chosen', val);
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('h1').innerHTML = val.toString();
        }
      },
      broadcasts: ['chosen']
    });
  </script>
</element>
