<element name="app-sequencer">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-sequencer.css"></link>
    <table id="sequencerTable" width="100%" height="100%">
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
      <tr height="20px">
      </tr>
    </table>
  </template>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-button.png" />
  </thumbnail>
  <description>
    When user clicks on td, turns on or off sound
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var t = this;
        this.pitchFiles = [
          "http://list.thestoke.ca/downloads/trumpet1.mp3",
          "http://list.thestoke.ca/downloads/trumpet3.mp3",
          "http://list.thestoke.ca/downloads/trumpet5.mp3",
          "http://list.thestoke.ca/downloads/trumpet7.mp3",
          "http://list.thestoke.ca/downloads/trumpet8.mp3"
        ];

        this.label = "Trumpet";

        var newPitch = function (sound) {
          var $tablerow = $('#sequencerTable').find('tr');
          count = 0;
          $tablerow.each(function(index, value){
            count += 1;
            var $listitem = $(this);
            n = parseInt($listitem.index());
            var $newRow = $('<td width="30px"><audio><source src="'+ sound +'"></audio></td>');
            $("#sequencerTable tr:eq(" + n + ")").append($newRow);
          });
        }

        var audioLoop = function () {
          var beats = t.querySelectorAll('tr');
          beats = Array.prototype.slice.call(beats);

          var playBeat = function() {
            var beat = beats.shift();
            beat.classList.add('playing');
            beat.querySelectorAll('.on');
            Array.prototype.forEach.call(beat.querySelectorAll('.on'), function (note) {
              var audio = note.querySelector('audio');
              if (audio) {
                audio.play();
              }
            });
            beat.classList.remove('playing');
            beats.push(beat);
          };

          setInterval(function () {
            playBeat();
          }, 125);
        }

        $(document).on('click', 'td', function () {
          if ( $(this).hasClass('on') ) {
            $(this).removeClass('on');
          } else {
            $(this).addClass('on');
          }
        })

        for (i in this.pitchFiles){
          newPitch(this.pitchFiles[i]);
        }
        audioLoop();

      },
      defaultListener: 'addPitch',
      listeners: {
        addPitch: function (val) {
          newPitch(val);
        },
        playBeat: function () {

        },
        post: function (){
          var notes = [];
          var pitchCount = this.pitchFiles.length;
          var i = 0;
          var pitch;
          var row;
          var onNotes;
          var table = document.querySelector('#sequencerTable');

          Array.prototype.forEach.call(table.querySelectorAll('td'), function(cell){
            row = Math.floor(i / pitchCount);
            pitch = i - (row * pitchCount);

            if (pitch === 0){
              notes.push(onNotes);
              onNotes = [];
            }

            if (cell.classList.contains("on")){
              onNotes.push(pitch);
            }

            i += 1;
          });
          var sequence = [
            {
              "label" : "Trumpet",
              "notes" : notes,
              "audioClips" : this.pitchFiles
            }
          ];

          var data = JSON.stringify(sequence);

          var url = "http://mozfest-funk-tracker.herokuapp.com/data";

          var http = new XMLHttpRequest();
          http.open("POST", url, true);

          //Send the proper header information along with the request
          // http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

          http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
              alert(http.responseText);
            }
          }
          http.send(data);

          return;
        }
      },
      broadcasts: ['music'],
      defaultBroadcasts: ['music']
    });
  </script>
</element>
