<element name="app-slider">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-slider.css">
    <div class="value">123</div>
    <div class="slider"></div>
  </template>
  <description>
    A slider that broadcasts a value.
  </description>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-slider.png" />
  </thumbnail>
  <friends>app-map,app-shutter</friends>
  <script type="text/ceci">
    function Scalar(value) {
      this.value = value;
      this.editor = 'app-slider';
    };
    Scalar.prototype.toString = function() {
      return String(this.value);
    };
    Ceci(this, {
      init: function (params) {
        this.slider = $(this).find(".slider");
        this.min = this.getAttribute('minValue') || 0;
        this.max = this.getAttribute('maxValue') || 50;
        this.setAttribute("minValue", this.min);
        this.setAttribute("maxValue", this.max);
        this.default = this.getAttribute("startingValue") || this.min;
        this.valueIndicator = this.querySelector(".value");
        this.valueIndicator.innerHTML = this.default;
        var element = this;
        var t = this;
        this.slider.slider({
          range: "min",
          value: this.default,
          max : t.max,
          min: t.min,
          slide : function(event,ui){
            element.changeValue(ui.value);
          }
        });
      },
      getCurrentValue: function() {
        return this.getAttribute("value");
      },
      updateValue: function(val) {
        this.slider.slider("value",val);
        this.setAttribute("value", val);
        this.valueIndicator.innerHTML = val;
        this.broadcast('changeValue', new Scalar(val), "Slider value");
      },
      changeValue: function(val) {
        this.setAttribute("value", val);
        this.valueIndicator.innerHTML = val;
        this.broadcast('changeValue', new Scalar(val), "Slider value");
      },
      broadcasts: ['changeValue'],
      defaultBroadcasts: ['changeValue'],
      emitValue: function(val) {},
      editable: {
        startingValue: {
          type: "number",
          description: "Starting value for the slider.",
          postset: function(v) {
          }
        },
        minValue: {
          type: "number",
          description: "The lowest possible value.",
          postset: function(v) {
            if(parseInt(v) || parseInt(v) == 0){
              v = parseInt(v);
              if(v >= this.max){ v = this.max - 1 };
              this.slider.slider("option","min",v);
            }
          }
        },
        maxValue: {
          type: "number",
          description: "The highest possible value.",
          postset: function(v) {
            if(parseInt(v)){
              v = parseInt(v);
              if(v <= this.min) {
                v = this.min + 1;
              }
              this.max = v;
              this.slider.slider("option","max",v);
            }
          }
        }
      },
      listeners: {
        setValue : function (val) {
          var value = parseInt(val);
          this.updateValue(value);
        }
      }
    });
  </script>
</element>
