<element name="app-slider">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-slider.css">
    <div>
      <form>
        <input type="range" name="slider" min="0" max="50"><br>
      </form>
      <p class="value"></p>
    </div>
  </template>
  <description>
    A slider that broadcasts a value.
  </description>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-slider.png" />
  </thumbnail>
  <tags>form,numbers,input</tags>
  <friends>app-map,app-shutter</friends>
  <script type="text/ceci">
    function Scalar(value) {
      this.value = value;
      this.editor = 'app-slider';
    };
    Scalar.prototype.toString = function() {
      return String(this.value);
    };
    Ceci(this, {
      init: function (params) {
        this.slider = this.querySelector("input");
        this.min = this.getAttribute('minValue') || 0;
        this.max = this.getAttribute('maxValue') || 50;
        this.setAttribute("minValue", this.min);
        this.setAttribute("maxValue", this.max);
        this.default = this.getAttribute("startingValue") || this.min;
        this.valueIndicator = this.querySelector(".value");
        this.valueIndicator.innerText = parseInt(this.default);
        var self = this;
        this.slider.addEventListener('input', function(e){
          self.changeValue(self.slider.value);
        });
        this.addEventListener('click', function(e){
          self.broadcast('changeValue', self.slider.value, "Slider value");
        });
      },
      getCurrentValue: function() {
        return this.getAttribute("value");
      },
      updateValue: function(val) {
        this.slider.setAttribute("value", val);
        this.setAttribute("value", val);
        console.log(val);
        this.valueIndicator.innerText = val;
        this.broadcast('changeValue', new Scalar(val), "Slider value");
      },
      changeValue: function(val) {
        this.setAttribute("value", val);
        this.valueIndicator.innerText = val;
        this.broadcast('changeValue', new Scalar(val), "Slider value");
      },
      broadcasts: ['changeValue'],
      defaultBroadcasts: ['changeValue'],
      emitValue: function(val) {},
      editable: {
        startingValue: {
          type: "number",
          description: "Starting value for the slider.",
          postset: function(v) {
          }
        },
        minValue: {
          type: "number",
          description: "The lowest possible value.",
          postset: function(v) {
            if (parseInt(v) || parseInt(v) == 0){
              v = parseInt(v);
              if (v >= this.max){
                v = this.max - 1
              };
              this.slider.setAttribute('min', v);
            }
          }
        },
        maxValue: {
          type: "number",
          description: "The highest possible value.",
          postset: function(v) {
            if(parseInt(v)){
              v = parseInt(v);
              if(v <= this.min) {
                v = this.min + 1;
              }
              this.max = v;
              this.slider.setAttribute('max', v);
            }
          }
        }
      },
      listeners: {
        setValue : function (val) {
          var value = parseInt(val);
          this.updateValue(value);
        }
      }
    });
  </script>
</element>
