<element name="app-submit">
  <template>
    <input type="text"><button>Submit</button>
  </template>
  <script type="text/ceci">
    Ceci(this, {
      init: function () {
        var that = this;
        this.querySelector('button').onclick = function (e) {
          that.emit('value', that.querySelector('input[type="text"]').value);
        };
      },
      editable: {
        value: function (val) {
          this.querySelector('input[type="text"]').value = val;
        }
      }
    });
  </script>
</element>