<element name="app-textarea">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-textarea.css">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <textarea></textarea>
      </div>
    </div>
  </template>
  <description>
    A basic textarea
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.querySelector('textarea').setAttribute('placeholder', 'Placeholder Text');
      },

      listeners: {
        setValue: function (val) {
          this.querySelector('textarea').value = val.toString();
        }
      },

      editable: {
        "defaulttext": {
          label: "Placeholder text",
          type: "text",
          description: "The text you want your input field to show by default.",
          postset: function(v) {
            this.querySelector("textarea").setAttribute("placeholder", v);
          }
        }
      }
    });
  </script>
</element>
