<element name="app-timer">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-timer.css">
    <div class="timer">
      <div class="current-time"></div>
    </div>
  </template>
  <description>
    You start, stop and reset the time and also set a countdown timer.
  </description>
  <tags>time</tags>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-timer.png" />
  </thumbnail>
  <script type="text/flathead">
  </script>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var that = this;
        this.hasAlert = false;
        this.alertTime;
        this.mS = 0;
        this.mode = "up";
        this.updateDisplay();
        this.timerInterval = false;
      },
      updateTime : function(){
        //Get time difference between ticks
        this.elapsedTime = new Date().getTime() - this.startTime;
        this.startTime = new Date().getTime();
        //Add it up in milliseonds

        if(this.mode == "up"){
          this.mS = this.mS + this.elapsedTime;
        } else {
          this.mS = this.mS - this.elapsedTime;
        }

        this.updateDisplay();

        if(this.mode == "down"){
           this.checkAlert();
        }
      },
      checkAlert : function(){
        // var sec = Math.round(this.mS/1000 * 10)/10;
        if(this.mS <= 0) {
          this.mS = 0;
          this.mode == "up";
          this.broadcast("timerFinished","Ding!");
          this.stopTheTimer();
          this.updateDisplay();
        }
      },
      updateDisplay : function(){
        var hour  = Math.round((this.mS/1000/60/60)) % 60;
        var min   = Math.round((this.mS/1000/60)) % 60;
        var sec   = (this.mS/1000) % 60;
        sec = Math.round(sec * 10)/10;
        if(Math.round(sec) == sec) { sec += '.0'; };
        if(min < 10) { min = "0" + min;}
        if(sec < 10) { sec="0" + sec;}
        if(hour > 0) { hour = hour + ":"; } else {  hour = "";}
        this.currentTime = hour + min + ":" + sec;
        this.querySelector('.current-time').innerHTML = this.currentTime;
      },
      startTheTimer : function(){
        this.startTime = new Date().getTime();
        var that = this;
        if(!this.timerInterval){
          console.log("setting timer interval");
          this.timerInterval = setInterval(function(){
            that.updateTime();
          },50);
        }
      },
      stopTheTimer : function(){
        clearInterval(this.timerInterval);
        this.timerInterval = false;
      },
      resetTheTimer : function(){
        this.mS = 0;
        this.mode = "up";
        this.updateDisplay();
      },
      broadcastCurrentTime : function() {
        this.broadcast('currentTime', this.currentTime);
      },
      defaultListener : "start",
      broadcasts: ['timerFinished','currentTime'],
      defaultBroadcasts: ['timerFinished'],
      listeners: {
        setTimer : function(listener, channel){
          this.mode = "down";
          this.mS = 1000 * parseInt(listener) || 10000;
          this.startTheTimer();
        },
        broadcastTime: function (listener,channel) {
          this.broadcastCurrentTime();
        },
        stop: function (listener,channel) {
          this.stopTheTimer();
        },
        start: function (listener,channel) {
          this.startTheTimer();
        },
        reset: function (value, channel) {
          this.resetTheTimer();
        }
      }
    });
  </script>
</element>
