<element name="app-twilio">
  <template>
    <link rel="stylesheet" href="{{ASSET_HOST}}/assets/style/app-twilio.css">
    <p></p>
  </template>
  <description>Listen for a message and send a SMS</description>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-twilio.png" />
  </thumbnail>
  <script type="text/ceci">
    function Twilio(value) {
      this.value = value;
      this.editor = 'app-twilio';
    };
    Text.prototype.toString = function() {
      return String(this.value);
    };
    Ceci(this, {
      init: function (params) {
        this.textDisplay = this.querySelector("div");
        this.textDisplay.className = 'twilioBanner';
        this.textDisplay.innerHTML = "<img src='{{ASSET_HOST}}/assets/images/thumbnails/app-twilio.png'/><div>SMS powered by Twilio</div>";
        this.setAttribute('from', this.getAttribute('from') || "");
        this.setAttribute('accountSid', this.getAttribute('accountSid') || "");
        this.setAttribute('accountToken', this.getAttribute('accountToken') || "");
        this.setAttribute('defaultMessage', this.getAttribute('defaultMessage') || "This is a default message");
      	this.phoneTo = "";
      	this.message = this.getAttribute('defaultMessage') || "";
      },
      updateAccountSid : function (val) {

      },
      editable: {
        accountSid: {
          type: "text",
          description: "The Account SID information",
          postset: function(v) {}
        },
        accountToken: {
          type: "text",
          description: "The Account TOKEN information",
          postset: function(v) {}
        },
        from: {
          type: "text",
          description: "The from phone number",
          postset: function(v) {}
        },
        defaultMessage: {
          type: "text",
          description: "The twilio SMS message",
          postset: function(v) {}
        }
      },
      defaultListener: 'sendSms',
      listeners: {
      	updateMessage: function (objValue, myChannel)
      	{
      		this.message = objValue.value;
      	},
      	sendMessageTo: function (objValue, myChannel)
      	{
      		this.phoneTo = objValue.value;
      		this.sendSms();
      	},
        sendSms: function () 
        {
          $.post("/proxy/twilio/", {
          	dataType:'json',
			TWILIO_ACCOUNT_SID:this.getAttribute('accountSid'),
			TWILIO_AUTH_TOKEN:this.getAttribute('accountToken'),
			to:this.phoneTo,
			from:this.getAttribute('from'),
			body:this.message          		
		  },
          function(data)
		  {
		    console.log(data);
		  });

        }
      }
    });
  </script>
</element>
