.openBadgesBanner
{
	text-align: center;
}


.openBadgesButton
{
  font-family: "FiraSans", sans-serif;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 2px solid rgba(0,0,0,.2);
  background-color: #40464f;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.openBadgesBanner button
{
	border: none;
}