@import url("../style/fonts.css");

app-selector h1 {
  font-size: 1.6rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid rgb(97, 98, 98);
  background: rgba(0,0,0,.1);
  padding: 2.5rem 3rem 1rem;
  position: relative;
  text-align: left;
}

app-selector section {
  background: #3a3a3a url("../images/pattern.png") repeat scroll 0px 0px;
  width: 100%;
  min-height: 300px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

app-selector ul {
  position: relative;
  padding: 0px 1.5rem;
  border-top: solid 1px black;
  margin: 0px;
  overflow: auto;
}

app-selector ul li {
  margin: 0px;
  padding-bottom: 1px;
  height: 5.9rem;
  list-style: none outside none;
  position: relative;
  border-bottom: 1px solid rgb(102, 102, 102);
  font-weight: lighter;
  font-size: 2.2rem;
  line-height: 5.9rem;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease 0s;
}

app-selector li:active {
  background: #008aaa;
  color: #333;
}

app-selector li input:checked + span {
  background: url("../images/checked.png") no-repeat scroll right center / 1.9rem auto content-box transparent;
  color: rgb(0, 171, 205);
}

app-selector ul li label {
  text-decoration: none;
  display: block;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

app-selector ul li input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  pointer-events: none;}

app-selector ul li span {
  text-decoration: none;
  display: block;
  color: rgb(255, 255, 255);
}

app-selector menu {
  white-space: nowrap;
  padding: 1.5rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  background: url("../images/pattern.png") repeat scroll left top rgb(45, 45, 45);
  display: block;
  margin: 0;
}

app-selector menu button {
  width: 100%;
  margin: 0;
  height: 3.8rem;
  padding: 0px 1.5rem;

  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border: 0.1rem solid rgb(166, 166, 166);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: rgb(51, 51, 51);
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  outline: medium none;


  background-color: rgb(0, 202, 242);
  border-color: rgb(0, 142, 171);
}
