@import url("../fonts.css");

app-button {
  padding: 0;
}

app-button .button:active {
  background: linear-gradient(to top, #ddd, #f8f8f8);
  background: -webkit-linear-gradient(top, #ddd, #f8f8f8);
  padding-top: 6px;
  padding-bottom: 2px;
  
}

app-button .button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  background: linear-gradient(to top, #f8f8f8, #ddd);
  background: -webkit-linear-gradient(top, #f8f8f8, #ddd);
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.3);
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 0.1rem solid #a6a6a6;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: #333;
  width: 100%;
}

app-button button {
  font-family: "FiraSans", sans-serif;
  border: none;
  background: 0;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}
