@import url("../style/fonts.css");

app-text {
  padding: .5rem 1.5rem;
}

app-text p {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-family: "FiraSans", sans-serif;
  font-weight: 500;
  line-height: auto;
}
