app-label {
  /* Feel free to add any useful code */

  /* This will help you scroll just the content of your app. Eg:
  <header class="fixed">
  ...
  <article class="scrollable header">
*/

  /* Setting proper paddings and margins */

  /* This should be fixed in lists BB */

  /* Fonts */

  /* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */

  /* Generic set of actions in toolbar */

  /* Pressed state */

  /* Disabled state */

  /* Icon definitions */

  /* Navigation links (back, cancel, etc) */

  /* ----------------------------------
 * HEADERS: subheader
 * ---------------------------------- */

  /* ----------------------------------
 * HEADERS: dark
 * ---------------------------------- */

  /* Navigation links (back, cancel, etc) */

  /* ----------------------------------
 * HEADERS: organic
 * ---------------------------------- */

  /* Navigation links (back, cancel, etc) */

  /* ----------------------------------
 * HEADERS: right-to-left tweaks
 * ---------------------------------- */

}
app-label html {
  height: 100%;
  font-size: 62.5%;
  /* Setting base font to 10px and define all your units in rem. 1rem = 10px */

}
app-label body {
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
}
app-label .hidden {
  visibility: hidden;
}
app-label section[role="region"] {
  height: 100%;
}
app-label section[role="region"] > header.fixed:first-child {
  position: absolute;
  width: 100%;
}
app-label .scrollable {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
app-label .scrollable.header {
  border-top: transparent solid 5rem;
}
app-label section[role="region"] > .content {
  padding: 0 3rem 1.5rem 3rem;
  background: #fff;
}
app-label section[role="region"] > .content header h2 {
  margin: 3rem -3rem 1.5rem -3rem;
}
app-label section[role="region"] > .content header:first-child h2 {
  margin-top: 0;
}
app-label section[role="region"] > .content [data-type="list"] {
  margin: 0 -3rem;
}
app-label section[role="region"] > .content [data-type="list"] li > p {
  margin: 0 1.5rem;
}
app-label section[role="region"] > .content [data-type="list"] li > a {
  margin: 0 1.5rem;
}
app-label section[role="region"] > .content [data-type="list"] li > a:after {
  left: -1.5rem;
  right: -1.5rem;
}
app-label section[role="region"] > .content [data-type="list"] header {
  padding: 0.5rem 1.5rem;
}
app-label section[role="region"] > .content [data-type="list"] li > a > aside:not(.pack-end) {
  margin-left: -1.5rem;
}
app-label [aria-disabled="true"] {
  pointer-events: none;
}
app-label h1 {
  /* Main header */

  font-size: 2.5rem;
  font-weight: normal;
}
app-label h2 {
  /* Subheader, Dialog title */

  font-size: 1.6rem;
  font-weight: normal;
}
app-label p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}
app-label p.large {
  /* Dialog body */

  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}
app-label p.alt {
  /* Body medium, Buttons */

  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}
app-label p.small {
  /* Status bar */

  font-size: 1.5rem;
  line-height: 2rem;
}
app-label p.mini {
  /* Fine print */

  font-size: 1.4rem;
  line-height: 1.9rem;
}
app-label p.micro {
  /* App icon label */

  font-size: 1.3rem;
  line-height: 1.8rem;
}
app-label ul,
app-label ol,
app-label li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}
app-label section[role="region"] > header:first-child {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background: url(headers/images/ui/header.png) repeat-x 0 0;
  background-size: auto 100%;
  border: none;
}
app-label section[role="region"] > header:first-child:after {
  content: "";
  display: block;
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: url(headers/images/ui/shadow.png) repeat-x;
  background-size: auto 100%;
}
app-label section[role="region"] > header:first-child h1 {
  font-size: 2.5rem;
  line-height: 4.8rem;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  padding-right: 1rem;
  height: 100%;
  font-weight: normal;
}
app-label section[role="region"] > header:first-child h1 em {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
}
app-label section[role="region"] > header:first-child form {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 0 0.5rem ;
  margin-left: 2.5rem;
}
app-label section[role="region"] > header:first-child input[type="text"] {
  width: 100%;
  height: 3rem;
  -moz-box-sizing: border-box;
  padding: 0 0.8rem;
  border: solid 0.1rem #9d4123;
  border-top-color: #a6501e;
  border-radius: 0.3rem;
  background: #ffffff url(headers/images/ui/shadow.png) repeat-x left -0.1rem;
  font-size: 1.5rem;
  line-height: 3em;
  box-shadow: none;
}
app-label section[role="region"] > header:first-child form button[type="reset"] {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 0;
  width: 3rem;
  height: auto;
  margin: 0;
  display: none;
  border: none;
  background: url(headers/images/icons/clear.png) no-repeat center center / 1.7rem auto;
}
app-label section[role="region"] > header:first-child input[type="text"]:valid + button[type="reset"] {
  display: block;
}
app-label section[role="region"] > header:first-child menu[type="toolbar"] {
  height: 100%;
  float: right;
}
app-label section[role="region"] > header:first-child menu[type="toolbar"] a,
app-label section[role="region"] > header:first-child menu[type="toolbar"] button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 5rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 5rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
}
app-label section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
app-label section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: url(headers/images/ui/separator.png) no-repeat left center / auto 4.8rem;
  margin-left: -0.2rem;
  z-index: 1;
}
app-label section[role="region"] > header:first-child menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}
app-label section[role="region"] > header:first-child a,
app-label section[role="region"] > header:first-child button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
}
app-label section[role="region"] > header:first-child a::-moz-focus-inner,
app-label section[role="region"] > header:first-child button::-moz-focus-inner,
app-label section[role="region"] > header:first-child a:active,
app-label section[role="region"] > header:first-child button:active,
app-label section[role="region"] > header:first-child a:focus,
app-label section[role="region"] > header:first-child button:focus {
  outline: none !important;
  border: none !important;
}
app-label section[role="region"] > header:first-child a:not([aria-disabled="true"]):active .icon:after,
app-label section[role="region"] > header:first-child button:not(:disabled):active .icon:after,
app-label section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
app-label section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active {
  background: #008aaa !important;
  transition: background 0.2s ease;
}
app-label section[role="region"] > header:first-child menu[type="toolbar"] a[aria-disabled="true"],
app-label section[role="region"] > header:first-child menu[type="toolbar"] button[disabled] {
  opacity: 0.5;
}
app-label section[role="region"] > header:first-child a:first-letter,
app-label section[role="region"] > header:first-child button:first-letter {
  text-transform: uppercase;
}
app-label section[role="region"] > header:first-child .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  height: 4.9rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}
app-label section[role="region"] > header:first-child .icon.icon-add {
  background-image: url(headers/images/icons/add.png);
}
app-label section[role="region"] > header:first-child .icon.icon-compose {
  background-image: url(headers/images/icons/compose.png);
}
app-label section[role="region"] > header:first-child .icon.icon-edit {
  background-image: url(headers/images/icons/edit.png);
}
app-label section[role="region"] > header:first-child .icon.icon-send {
  background-image: url(headers/images/icons/send.png);
}
app-label section[role="region"] > header:first-child .icon.icon-close {
  background-image: url(headers/images/icons/close.png);
}
app-label section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(headers/images/icons/back.png);
}
app-label section[role="region"] > header:first-child .icon.icon-menu {
  background-image: url(headers/images/icons/menu.png);
}
app-label section[role="region"] > header:first-child .icon.icon-user {
  background-image: url(headers/images/icons/user.png);
}
app-label section[role="region"] > header:first-child .icon.icon-reply {
  background-image: url(headers/images/icons/reply.png);
}
app-label section[role="region"] > header:first-child .icon.icon-reply-all {
  background-image: url(headers/images/icons/reply-all.png);
}
app-label section[role="region"] > header:first-child > button,
app-label section[role="region"] > header:first-child > a {
  position: absolute;
  left: 0;
  width: 5rem;
  height: 5rem;
  background: url(headers/images/ui/separator-large.png) no-repeat 2rem top / 0.2rem 5rem;
  overflow: hidden;
}
app-label section[role="region"] > header:first-child > button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
app-label section[role="region"] > header:first-child > button .icon,
app-label section[role="region"] > header:first-child > a .icon {
  position: static;
  display: block;
  width: 2rem;
  height: 4.9rem;
  margin: 0;
  overflow: visible;
  font-size: 0;
}
app-label section[role="region"] > header:first-child > button .icon:after,
app-label section[role="region"] > header:first-child > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2rem;
  height: 4.9rem;
  background-color: #a03f25;
}
app-label section[role="region"] > header > a .icon.icon-menu,
app-label section[role="region"] > header > button .icon.icon-menu {
  background-position: -1.1rem center;
}
app-label section[role="region"] > header {
  z-index: 0;
  height: auto;
}
app-label section[role="region"] > header:after {
  display: none;
}
app-label section[role="region"] header h2 {
  margin: 0;
  padding: 0.8rem 3rem;
  color: #424242;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  border-bottom: solid 0.1rem #e6e6e6;
}
app-label section[role="region"].skin-dark > header:first-child,
app-label .skin-dark section[role="region"] > header:first-child {
  background-image: url(headers/images/ui/dark/header.png);
}
app-label section[role="region"].skin-dark > header:first-child menu[type="toolbar"] a:last-child,
app-label .skin-dark section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
app-label section[role="region"].skin-dark > header:first-child menu[type="toolbar"] button:last-child,
app-label .skin-dark section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: url(headers/images/ui/dark/separator.png) no-repeat left center / auto 4.8rem;
}
app-label section[role="region"].skin-dark > header:first-child > a .icon:after,
app-label .skin-dark section[role="region"] > header:first-child > a .icon:after,
app-label section[role="region"].skin-dark > header:first-child > button .icon:after,
app-label .skin-dark section[role="region"] > header:first-child > button .icon:after {
  background-image: url(headers/images/ui/dark/negative.png);
  background-color: transparent;
}
app-label section[role="region"].skin-dark > header:first-child a,
app-label .skin-dark section[role="region"] > header:first-child a,
app-label section[role="region"].skin-dark > header:first-child button,
app-label .skin-dark section[role="region"] > header:first-child button {
  background: url(headers/images/ui/dark/separator-large.png) no-repeat 2rem top / 0.2rem 4.8rem;
}
app-label section[role="region"].skin-dark header h2,
app-label .skin-dark section[role="region"] header h2 {
  background: #2e3c3f url(headers/images/ui/organic/subheader.png);
  color: #fff;
  border: none;
}
app-label section[role="region"].skin-organic > header:first-child,
app-label .skin-organic section[role="region"] > header:first-child {
  background-image: url(headers/images/ui/noise-pattern.png), url(headers/images/ui/organic/header.png);
  background-size: auto;
}
app-label section[role="region"].skin-organic > header:first-child menu[type="toolbar"] a:last-child,
app-label .skin-organic section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
app-label section[role="region"].skin-organic > header:first-child menu[type="toolbar"] button:last-child,
app-label .skin-organic section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: url(headers/images/ui/organic/separator.png) no-repeat left center / auto 4.8rem;
}
app-label section[role="region"].skin-organic > header:first-child > a .icon:after,
app-label .skin-organic section[role="region"] > header:first-child > a .icon:after,
app-label section[role="region"].skin-organic > header:first-child > button .icon:after,
app-label .skin-organic section[role="region"] > header > button .icon:after {
  background: #23292b url(headers/images/ui/noise-pattern.png);
  background-size: auto;
}
app-label section[role="region"].skin-organic > header:first-child a,
app-label .skin-organic section[role="region"] > header:first-child a,
app-label section[role="region"].skin-organic > header:first-child button,
app-label .skin-organic section[role="region"] > header:first-child button {
  background: url(headers/images/ui/organic/separator-large.png) no-repeat 2rem top / 0.2rem 4.8rem;
}
app-label section[role="region"].skin-organic header h2,
app-label .skin-organic section[role="region"] header h2 {
  background: #5c6a6d url(headers/images/ui/organic/subheader.png);
  color: #fff;
  border: none;
}
app-label html[dir="rtl"] section[role="region"] > header:first-child h1 {
  text-align: right;
  margin: 0 3rem 0 0;
}
app-label html[dir="rtl"] section[role="region"] > header:first-child button,
app-label html[dir="rtl"] section[role="region"] > header:first-child a {
  left: inherit;
  right: 0;
}
app-label html[dir="rtl"] section[role="region"] > header:first-child > button .icon,
app-label html[dir="rtl"] section[role="region"] > header:first-child > a .icon {
  margin-left: 0;
  margin-right: -2rem;
}
app-label html[dir="rtl"] section[role="region"] > header:first-child > button .icon:after,
app-label html[dir="rtl"] section[role="region"] > header:first-child > a .icon:after {
  left: inherit;
  right: 0;
}
app-label html[dir="rtl"] section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(headers/images/icons/back-rtl.png);
}
