/* app-snapshot.css */

app-snapshot .snapshot {
    margin: 0 auto;
    height: 100px;
	padding:1px;
	border:1px solid #ccc;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
    object-fit: contain;
    display: inline-block;
}

app-snapshot .imgcenter {
	text-align: center;
}

