app-textbox {
  padding: .5rem 1.5rem;
}

app-textbox p {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: font-size: 2.4rem;
  font-family: "FiraSans", sans-serif;
  font-weight: 500;
  line-height: auto;
}
