@import url("../fonts.css");

app-form-submit {
  padding: 0;
}

app-form-submit .button:active {
  background-color: #3d911f;
}

app-form-submit .button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-top: 1px solid #80d661;
  border-bottom: 2px solid #3d911f; 
  background-color: #4DB227;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ffffff;
  width: 100%;
}

app-form-submit button {
  font-family: "FiraSans", sans-serif;
  border: none;
  background: 0;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}

app-form-submit .property-list {
  list-style: none;
  margin: 0;
  padding: 3px;
  padding-right: 6px;
  font-size: .8em;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

app-form-submit .property-list li {
  position: relative;
  height: 1em;
}

app-form-submit .property-list li .name {
  position: absolute;
  width: 40%;
  height: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

app-form-submit .property-list li .value {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}