/* Component styles live here */
/* Make sure to nest all styles within your app-component-name tag */

app-remix-me {
  padding: 1rem 1rem 1.8rem 1rem;
  background: #333;
  text-align: left;
  cursor: pointer;
}

app-remix-me h1 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.3rem;
  text-align: left;
  color: #DDD;
  padding-bottom: .6rem;
  border-bottom: solid 2px #666;
}

app-remix-me h2 {
  padding: 0 0 .4rem 0;
  margin: 0;
  color: #EEE;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
}

app-remix-me p {
  padding: 0;
  margin: 0;
  color: #AAA;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
}
