@import url("../style/fonts.css");

app-form-submit {
  padding: 0;
}

app-form-submit .button:active {
  background-color: #3d911f;
}

app-form-submit .button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-top: 1px solid #80d661;
  border-bottom: 2px solid #3d911f;
  background-color: #4DB227;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ffffff;
  width: 100%;
  margin: 0;
}

app-form-submit button {
  font-family: "FiraSans", sans-serif;
  border: none;
  background: 0;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}

app-form-submit .property-list {
  list-style: none;
  margin: 0;
  padding: .4rem;
  font-size: .8em;
  background: #DDD;
}

app-form-submit .property-list li {
  position: relative;
  background: white;
  border-bottom: solid 1px #CCC;
  overflow: auto;
}

app-form-submit .property-list .name,
app-form-submit .property-list .value {
  background: white;
  padding: 4px;
  color: #666;
}

app-form-submit .property-list li .name {
  float: left;
  width: 30%;
  text-align: left;
  overflow: hidden;
  border-right: solid 1px #CCC;
  text-overflow: ellipsis;
  font-weight: bold;
}

app-form-submit .property-list li .value {
  float: right;
  width: 63%;
  overflow: hidden;
  text-overflow: ellipsis;
}
