@import url("../style/fonts.css");

app-maximum-number .max {
  line-height: 3.8rem;
  text-align: center;
  font-size: font-size: 1.6rem;
  font-family: "FiraSans", sans-serif;
  padding: .5rem 0rem;
  color: #666;
  background: #DDD;
}

app-maximum-number .max .max-wrapper {
  background: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-bottom: solid 1px #CCC;
}
