@import url("../style/fonts.css");

app-form {
  padding: .75rem;
  background: #EEE;
}

app-form h1 {
  font-size: 2.2rem;
  margin: 0rem 0rem .8rem 0rem;
  padding: 0rem 0rem .4rem 0rem;
  text-align: left;
  color: #666;
  font-weight: 400;
  border-bottom: solid 2px #CCC;
}

app-form .component broadcast,
app-form .component listen {
  display: none;
}

app-form .form-items {
  background: #EFEFEF;
  margin-bottom: .5rem;
  border-radius: .3rem;
  min-height: 5rem;
  padding: .5rem;
  text-align: left;
}

app-form .form-items input {
  width: 100%;
  font-size: 1.6rem;
  display: block;
  margin: 0 0 .5rem 0;
  padding: .4rem .6rem;
  box-sizing: border-box;
}

app-form .form-items .component {
  margin-bottom: .5rem;
}

app-form .form-items input:last-child{
  margin-bottom: 0rem;
}

app-form .form-items .helper {
  display: none;
}

app-form .form-items {
  text-align: center;
}

app-form .form-items .helper:only-child {
  padding: 1.5rem 0rem;
  text-align: center;
  display: block;
  color: #888;
}

app-form .button:active {
  background-color: #3d911f;
}

app-form .button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 2px solid rgba(0,0,0,.2);
  background-color: #4DB227;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ffffff;
  width: 100%;
  margin: 0;
}

app-form button {
  font-family: "FiraSans", sans-serif;
  border: none;
  background: 0;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}
