app-slider {
  background-color: #474d57;
}
app-slider {
 text-align: center;
}

app-slider div {
  width: 100%;
  text-align: center;
}
app-slider p {
  width: 100%;
  text-align: center;
}

app-slider input {
  width: 100%;
  background: #212429;
  position: relative;
  height: 1em;
  padding: 2rem;
  margin-right: 6rem;
}

app-slider .value {
  float: right;
  font-size: 1.6rem;
  color: #DDD;
  position: relative;
  top: -1rem;
  left: 1rem;
  width: 45px;
  text-align: center;
}

app-slider a {
  position: absolute;
  top: -1rem;
  display: block;
  border-radius: .2rem;
  border-top: 1px solid #a7b1c2;
  border-bottom: 1px solid #25282e;
  height: 2rem;
  width: 2rem;
  background-color: #707a8a;
}

app-slider a:active, app-slider a:focus {
  outline: none;
}

app-slider .ui-slider-range {
  background: #48c5ed;
  height: .3rem;
  position: absolute;
}
