@import url("../fonts.css");

app-counter .counter {
  line-height: 3.8rem;
  text-align: center;
  font-size: font-size: 1.6rem;
  font-family: "FiraSans", sans-serif;
  padding: .5rem 0rem;
  font-size: 1.8rem;
  background: #DDD;
}

app-counter .counter .count-wrapper {
  background: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  -moz-border-radius: .5rem;  
  border-bottom: solid 1px #CCC;
}
