app-header header {
	background: -moz-linear-gradient(top, #C76A01, #B54D16);
	background: -webkit-linear-gradient(top, #C76A01, #B54D16);
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  width: 100%;
  padding: 0;
	height: 5rem;
	line-height: 5rem;
	color: #FFF;
	font-size: 2.5rem;
	text-indent: 3rem;
}
